body {
    background-image: url("../images/film\ background.jpeg");
    font-family: 'Megrim', cursive;
}
.container {
    background-color: tan;
    background: rgba(0,0,0,.8);
    text-align: center;
}
.button {
    width: 200px;
    float: none;
    margin: 0 auto;
}

h1 {
    color: whitesmoke;
    font-size: 100px;
}
#timer, #game-play {
    font-size: 40px;
    color: whitesmoke;
}
#game-play {
    height: 500px;
}

@media(hover: hover){

.answer:hover {
    background-color: white;
    color: darkred;
}
.button:hover {
    background-color: darkred;
    color: whitesmoke;
}
}

.answer-image, .start-pic {
    padding: 20px;
}

/* font-family: 'Source Code Pro', monospace;
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Megrim', cursive; */
@media screen and (max-width:800px){
    .start-pic{
        height: 300px;
    }
    .answer-image {
        width: 300px;
    }
    .answer:hover {
        background-color: none;
    }
    #timer, #game-play {
        font-size: 30px;
    }
}
@media screen and (max-width:470px){
    .start-pic{
        height: 200px;
    }
    .answer-image {
        width: 200px;
    }
    .answer:hover {
        background-color: none;
    }
    #timer, #game-play {
        font-size: 20px;
    }
}